.project
debug.log
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*.log
.settings/
bin/
tmp/
target/
videos/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
nbproject/private/
build/
nbbuild/
dist/
nbdist/
excluded/
nbactions.xml
credentials.qa
credentials.dev
credentials.prod
credentials.onelogin
nb-configuration.xml
debug.log
*.json
*.png
*.html
src/test/java/SalesforceInspector
test-output/report/Files/*.txt
.DS_Store
myData
pageobjectsDebug

test-output/
test-output/custom-emailable-report.html
test-output/state.json
test-output/testrail_results.json
test-output/trace.zip
